# Supabase Configuration
# Provide your active Supabase Project URL and Anon/Publishable Key here:
VITE_SUPABASE_URL=https://hiqoxogyszhobixtytwn.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_gcfV40SqF7KDzld9zIlsRg_GaB7qDpf
